# Ignorar archivos de caché
cache/

# Ignorar datos GADM
Datos/gadm41_ESP_shp/

# Ignorar datos Distritos
Datos/Distritos

# Ignorar datos de barrios
Datos/Barrios

# Ignorar archivos de datos grandes
*.csv
*.json
*.gpkg

# Ignorar otros archivos temporales
*.log
.DS_Store
